$color-2: #FBEEE5;
$color-3: #F1C8AB;
$color-4: #E9A68C;
$color-5: #E88E74;
$color-6: #AA3C29;

$color-16: #2997aa;

.text-color-2 { color: $color-2; }
.text-color-3 { color: $color-3; }
.text-color-4 { color: $color-4; }
.text-color-5 { color: $color-5; }
.text-color-6 { color: $color-6; }

body {
    background: $color-2;
}

article.post {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid $color-4;
    border-radius: 0 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

a {
    color: $color-6;
    text-decoration: none;
}
a:hover {
    color: $color-16;
}

.fw-bolder {
    font-weight: 400 !important;
}

.b5st-carousel-cont {
    position: relative;
    padding: 0;
}
.b5st-carousel-cont,
.b5st-carousel-cont__bg1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.b5st-carousel-cont__bg1 {
    content: ' ';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.b5st-carousel-cont__bg2 {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba($color-5, 0.5), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(10px);
}

.b5st-carousel-cont .b5st-carousel-cont-in {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 1320px;
}

.b5st-carousel-cont .carousel-caption {
    z-index: 14;
}
.b5st-carousel-cont .carousel-indicators,
.b5st-carousel-cont .carousel-control-prev,
.b5st-carousel-cont .carousel-control-next {
    z-index: 15;
}

.b5st-carousel-cont .carousel-item::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    z-index: 10;
}

.b5st-nav-brand {
    position: relative;
}

.b5st-nav-brand-logo {
    position: absolute;
    bottom: -5px;
    margin-left: 2px;
}