body {
  font-family: 'Lora', serif;
  font-size: 16px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

h1, .h1 { font-size: 3rem; }
h2, .h2 { font-size: 2.5rem; }
h3, .h3 { font-size: 2.0rem; }
h4, .h4 { font-size: 1.75rem; }
h5, .h5 { font-size: 1.50rem; }
h6, .h6 { font-size: 1.25rem; }


header h2 a {
  color: $color-6;
  text-decoration: none;
}

// Drop cap (copied from the Gutenberg editor CSS)
.has-drop-cap:not(:focus):first-letter {
  float: left;
  font-size: 8.4em;
  line-height: .68;
  font-weight: 100;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  font-style: normal;
}

// Long Read Prose - needs bigger text
// (If you change this, then change the same also in the `editor.css`.)

.long-read {
  font-size: clamp(1em, calc(0.625em + 1vw), 1.25em);
  line-height: inherit;
}

// More link

.more-link {
  display: block;
  margin-bottom: 1rem;
}
