/*!
 * b5st since v1.0 | Unicence
 */
.text-color-2 {
  color: #FBEEE5; }

.text-color-3 {
  color: #F1C8AB; }

.text-color-4 {
  color: #E9A68C; }

.text-color-5 {
  color: #E88E74; }

.text-color-6 {
  color: #AA3C29; }

.ratio-27x9 {
  --bs-aspect-ratio: calc(9 / 27 * 100%); }

body {
  background: #FBEEE5; }

#site-main article.post {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #E9A68C;
  border-radius: 0 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  overflow: hidden; }

#breadcrumb + #site-main article.post:first-child {
  margin-top: 0; }

/* Anchor offset */
#site-main {
  margin-top: -3rem; }

#site-main article.post {
  position: relative;
  top: 3rem; }

#site-aside {
  margin-top: 5rem; }

@media only screen and (max-width: 1200px) {
  #site-aside {
    margin-bottom: -3.5rem; } }

a {
  color: #AA3C29;
  text-decoration: none; }

a:hover {
  color: #2997aa; }

.fw-bolder {
  font-weight: 400 !important; }

.b5st-bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.b5st-carousel-cont {
  position: relative;
  padding: 0; }

.b5st-carousel-cont__bg1 {
  content: ' ';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.b5st-carousel-cont__bg2 {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(232, 142, 116, 0.5), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(10px); }

.b5st-carousel-cont .b5st-carousel-cont-in {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 1320px; }

.b5st-carousel-cont .carousel-caption {
  z-index: 14; }

.b5st-carousel-cont .carousel-indicators,
.b5st-carousel-cont .carousel-control-prev,
.b5st-carousel-cont .carousel-control-next {
  z-index: 15; }

.b5st-carousel-cont .carousel-item::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  z-index: 10; }

.b5st-nav-brand {
  position: relative; }

.b5st-nav-brand-logo {
  position: absolute;
  bottom: -5px;
  margin-left: 2px; }

.navbar-nav .nav-link.active {
  position: relative;
  color: #AA3C29; }

.navbar-nav .nav-link .nav-link-active {
  opacity: 0.001; }

.navbar-nav .nav-link.active .nav-link-active {
  opacity: 1;
  transition: opacity 1.5s;
  display: inline-block;
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 180%;
  background-color: rgba(241, 200, 171, 0.35); }

ul .list-group-item {
  position: relative;
  background: transparent;
  padding-left: 2rem; }

ul .list-group-item i:first-child {
  position: absolute;
  top: .75rem;
  left: .25rem;
  color: #E88E74; }

ol .list-group-item i:first-child {
  display: none; }

.list-group-numbered {
  counter-reset: section calc(var(--list-start, 1) - 1) !important; }

.table.bg-light,
.table-responsive.bg-light {
  --bs-bg-opacity: 0.5;
  --bs-light-rgb: 255, 255, 255; }

.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  --bs-table-striped-bg: rgba(241, 200, 171, 0.3); }

.site-header-image {
  display: block;
  margin: auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  clear: both;
  display: block; }

.wp-block-cover-text p {
  padding: 1.5em 16px; }

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0; } }

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 16px; }

ol.wp-block-latest-comments {
  padding-left: 0; }

body {
  font-family: 'Lora', serif;
  font-size: 16px; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  margin-bottom: 0.75rem;
  margin-top: 0.5rem; }

.official .entry-content h1, .official .entry-content .h1,
.official .entry-content h2, .official .entry-content .h2,
.official .entry-content h3, .official .entry-content .h3,
.official .entry-content h4, .official .entry-content .h4,
.official .entry-content h5, .official .entry-content .h5,
.official .entry-content h6, .official .entry-content .h6 {
  font-family: 'Lora', serif; }

article h1:first-child, article .h1:first-child,
article h2:first-child, article .h2:first-child,
article h3:first-child, article .h3:first-child,
article h4:first-child, article .h4:first-child,
article h5:first-child, article .h5:first-child,
article h6:first-child, article .h6:first-child {
  margin-top: 0; }

h1, .h1 {
  font-size: 3rem; }

h2, .h2 {
  font-size: 2.5rem; }

h3, .h3 {
  font-size: 2.0rem; }

h4, .h4 {
  font-size: 1.75rem; }

h5, .h5 {
  font-size: 1.50rem; }

h6, .h6 {
  font-size: 1.25rem; }

header h2 a {
  color: #AA3C29;
  text-decoration: none; }

.has-drop-cap:not(:focus):first-letter {
  float: left;
  font-size: 8.4em;
  line-height: .68;
  font-weight: 100;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  font-style: normal; }

.long-read {
  font-size: clamp(1em, calc(0.625em + 1vw), 1.25em);
  line-height: inherit; }

.more-link {
  display: block;
  margin-bottom: 1rem; }

.wp-block-code {
  padding: 0.5em 1em;
  margin: 0 0 1.5rem; }

.wp-block-quote {
  margin-left: 16px;
  margin-right: 16px;
  padding: 0; }

.wp-block-quote > * {
  margin-left: 1rem; }

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin: 36px auto;
  padding: 0; }

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  font-size: 13px;
  font-size: 0.8125rem; }

@media screen and (min-width: 768px) {
  .wp-block-quote {
    margin: 48px auto; } }

.wp-block-pullquote > p:first-child {
  margin-top: 0; }

.wp-block-pullquote.alignright {
  margin-left: 2rem; }

.wp-block-pullquote.alignleft {
  margin-right: 2rem; }

.wrap-md {
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-right: .75rem;
  padding-left: .75rem; }

.wrap-lg {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: .75rem;
  padding-left: .75rem; }

.entry-content > .alignwide,
.wp-block-image.alignwide,
.wp-block-gallery.alignwide {
  width: 100vw;
  max-width: 1100px;
  margin: 1.5em 0 1.5em 50%;
  transform: translateX(-50%); }

.entry-content > .alignwide > img {
  width: 1320px; }

.entry-content > .alignfull,
.wp-block-image.alignfull,
.wp-block-gallery.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin: 1.5em 0 1.5em 50%;
  transform: translateX(-50%); }

.entry-content > .alignfull > img {
  width: 100vw; }

.wp-block-columns {
  padding-right: 1rem;
  padding-left: 1rem; }

.wp-block-separator {
  margin: 3em auto;
  padding: 0; }

.wp-block-group > .wp-block-group__inner-container > * {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto; }

.wp-block-group > .wp-block-group__inner-container > .alignwide {
  width: 100vw;
  max-width: 1100px;
  margin: 1.5em 0 1.5em 50%;
  transform: translateX(-50%); }

.wp-block-group > .wp-block-group__inner-container > .alignfull {
  width: 100vw;
  max-width: 100vw;
  margin: 1.5em 0 1.5em 50%;
  transform: translateX(-50%); }

.wp-block-group.has-background > .wp-block-group__inner-container > :first-child {
  margin-top: 0; }

.wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
  width: calc( 100% + 60px);
  max-width: calc( 100% + 60px);
  position: relative;
  left: -30px; }

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

.attachment-post-thumbnail {
  margin-bottom: 1.5em; }

.wp-block-image img {
  display: block; }

.wp-block-image.alignleft,
.wp-block-image.alignright {
  width: 100%; }

.wp-block-image.alignfull img {
  width: 100vw; }

.wp-block-image .alignleft img,
.wp-block-image .alignright img,
.wp-block-image .alignleft figcaption,
.wp-block-image .alignright figcaption {
  max-width: 100%;
  width: 100%; }

.wp-block-image .alignfull,
.wp-block-gallery.alignfull {
  width: 100vw; }

.wp-block-image .alignright,
.wp-block-image .alignleft,
.wp-block-gallery.alignright,
.wp-block-gallery.alignleft {
  max-width: calc((720px / 2) - 16px); }

.wp-block-image .alignright,
.wp-block-gallery.alignright {
  margin-left: 2rem; }

.wp-block-image .alignleft,
.wp-block-gallery.alignleft {
  margin-right: 2rem; }

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.wp-block-video video {
  max-width: 720px; }

.wp-block-table {
  overflow-x: auto;
  margin: 1.5rem0; }

.wp-block-table table {
  border-collapse: collapse; }

.wp-block-table td, .wp-block-table th {
  padding: .5em; }

#comments,
#reply-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem; }

.comment-list,
.comment-list ul {
  padding-left: 0; }

.comment-list li {
  padding: 1rem; }

.comment-meta {
  margin-bottom: 1rem; }

.comment-list,
.comment-list .children {
  list-style-type: none; }

.comment {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }
